<a href="https://colab.research.google.com/github/gorand850/machine-learning-bootcamp/blob/main/04PrzygotowanieDanych/03_feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#scikit-learn

Strona biblioteki: https://scikit-learn.org

Dokumentacja/User Guide: https://scikit-learn.org/stable/user_guide.html

Podstawowa biblioteka do uczenia maszynowego w języku Python.

Aby zainstalować bibliotekę scikit-learn, użyj polecenia poniżej:

`!pip install scikit-learn`

Aby zaktualizować do najnowszej wersji bibliotekę scikit-learn, użyj polecenia poniżej:

`!pip install --upgrade scikit-learn`

Kurs stworzony w oparciu o wersję 0.22.1

###Spis treści
1. [Import bibliotek](#0)
2. [Załadowanie danych](#1)
3. [Utworzenie kopii danych](#2)
4. [Generowanie nowych zmiennych](#3)
5. [Dyskretyzacja zmiennej ciągłej](#4)
6. [Ekstrakcja cech](#5)

###<a name="0"></a>Import bibliotek

In [1]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'0.22.2.post1'

###<a name="1"></a>Załadowanie danyc

In [2]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

               Open       High       Low    Close   Volume
Date
2020-12-31  3275.00  3282.9219  3241.200  3256.93  2957206
2020-12-30  3341.00  3342.1000  3282.470  3285.85  3209310
2020-12-29  3309.94  3350.6500  3281.223  3322.00  4872933
2020-12-28  3194.00  3304.0000  3172.690  3283.96  5686787
2020-12-24  3193.90  3202.0000  3169.000  3172.69  1451917

###<a name="2"></a>Utworzenie kopii danych

In [3]:
df = df_raw.copy()
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2020-12-31 to 2020-12-24
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

###<a name="3"></a>Generowanie nowych zmiennych

In [4]:
df.index.month

Int64Index([12, 12, 12, 12, 12], dtype='int64', name='Date')

In [6]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

               Open       High       Low    Close   Volume  day  month  year
Date
2020-12-31  3275.00  3282.9219  3241.200  3256.93  2957206   31     12  2020
2020-12-30  3341.00  3342.1000  3282.470  3285.85  3209310   30     12  2020
2020-12-29  3309.94  3350.6500  3281.223  3322.00  4872933   29     12  2020
2020-12-28  3194.00  3304.0000  3172.690  3283.96  5686787   28     12  2020
2020-12-24  3193.90  3202.0000  3169.000  3172.69  1451917   24     12  2020

###<a name="4"></a>Dyskretyzacja zmiennej ciągłej

###<a name="5"></a>Ekstrakcja cech